main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    /*grid-template-columns: 20% 80%;*/
    /*grid-template-columns: 1fr 2fr;*/

    grid-template-columns:
            [sidebar-start] 1fr
            [sidebar-end contenido-start] 2fr;
            [contenido-end];

    grid-template-rows:
            [header-start] 1fr
            [header-end contenido-start] 2fr
            [footer-start] 1fr
            [footer-end];
}

main > * {
    font-family: "Fira Code iScript";
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header {*/
/*    grid-column: sidebar-start /span 2;*/
/*}*/

/*footer {*/
/*    grid-column: sidebar-start / -1;*/
/*}*/


header{
    grid-column: sidebar-start / contenido-end;
}

aside {
    grid-row: header-end / footer-end;
}

footer {
    grid-column: contenido-start / contenido-end;
}