main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    /*grid-template-columns: 20% 80%;*/
    /*grid-template-columns: 1fr 2fr;*/

    grid-template-columns:
            [sidebar-start] 1fr
            [contenido-start] 2fr;

    grid-template-rows:
            [header-start] 1fr
            [contenido-start] 2fr
            [footer-start] 1fr;
}

main > * {
    font-family: "Fira Code iScript";
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header {*/
/*    grid-column: sidebar-start /span 2;*/
/*}*/

/*footer {*/
/*    grid-column: sidebar-start / -1;*/
/*}*/


header{
    grid-column: sidebar-start / span 2;
}

aside {
    grid-row: contenido-start / span 2;
}

footer {
    grid-column: contenido-start;
}